<div class="container">
  <mat-card style="background-color: #f36f21; width: 100%">
    <mat-card-title style="font: bolder; color: aliceblue; padding-left: 20px">Vacina Aí</mat-card-title>

  </mat-card>

</div>
<div class="container" style="height: 5px"></div>
<div class="container">
  <mat-card style="background-color: #005465; width: 100%">
    <mat-card-content>
      <mat-icon style="color: white" aria-hidden="false" aria-label="Example home icon">account_circle</mat-icon>
      <span style="font-size: larger; font: bolder; color: aliceblue; vertical-align: super; padding-left: 20px;">Jorge Júnio Ferreia Andrade</span>
    </mat-card-content>
  </mat-card>
</div>
<div class="container" style="height: 5px"></div>

<div class="container">
  <mat-tab-group style="background-color: #005465; width: 100%; border-radius: 5px">
    <span>Vacinas</span>
    <mat-tab label="Não aplicadas">
        <mat-card style="width: 100%">
            <mat-card-content *ngFor="let v of vacinasNaoAplicadas">
        
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title style="flex-basis: 0;">
                      <img src="assets/img/seringa3.png">
                      <b>{{v.imunobiologico}} - {{v.dose}}</b>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div>
                    <p><b>Data Aplicação: </b>{{v.dataaplicacao | date:'dd/MM/yyyy'}}</p>
                    <p><b>Aprazamento: </b>{{v.aprazemento | date:'dd/MM/yyyy'}}</p>
                    <p><b>Estabelecimento de Saúde: </b>{{v.estaddesaude}}</p>
                    <p><b>Estratégia: </b>{{v.estrategia}}</p>
                    <p><b>Grupo Atendimento: </b>{{v.grupoatendimento}}</p>
                    <p><b>Laboratório: </b>{{v.laboratorio}}</p>
                    <p><b>Número Lote:</b> {{v.lote}}</p>
                    <p><b>Nome Aplicador:</b> {{v.vacinador}}</p>
                    <p><b>Nº Dose:</b> {{v.dose}} </p>
                  </div>
        
                </mat-expansion-panel>
              </mat-accordion>
        
            </mat-card-content>
          </mat-card>  
    </mat-tab>
    <mat-tab label="Aplicadas">
        <mat-card style="width: 100%">
            <mat-card-content *ngFor="let v of vacinasAplicadas">
        
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title style="flex-basis: 0;">
                      <img src="assets/img/seringa3.png">
                      <b>{{v.imunobiologico}} - {{v.dose}}</b>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div>
                    <p><b>Data Aplicação: </b>{{v.dataaplicacao | date:'dd/MM/yyyy'}}</p>
                    <p><b>Aprazamento: </b>{{v.aprazemento | date:'dd/MM/yyyy'}}</p>
                    <p><b>Estabelecimento de Saúde: </b>{{v.estaddesaude}}</p>
                    <p><b>Estratégia: </b>{{v.estrategia}}</p>
                    <p><b>Grupo Atendimento: </b>{{v.grupoatendimento}}</p>
                    <p><b>Laboratório: </b>{{v.laboratorio}}</p>
                    <p><b>Número Lote:</b> {{v.lote}}</p>
                    <p><b>Nome Aplicador:</b> {{v.vacinador}}</p>
                    <p><b>Nº Dose:</b> {{v.dose}} </p>
                  </div>
        
                </mat-expansion-panel>
              </mat-accordion>
        
            </mat-card-content>
          </mat-card> 
    </mat-tab>
    <mat-tab label="Pendentes">
        <mat-card style="width: 100%">
            <mat-card-content *ngFor="let v of vacinasNaoAplicadas">
        
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title style="flex-basis: 0;">
                      <img src="assets/img/seringa3.png">
                      <b>{{v.imunobiologico}} - {{v.dose}}</b>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div>
                    <p><b>Data Aplicação: </b>{{v.dataaplicacao | date:'dd/MM/yyyy'}}</p>
                    <p><b>Aprazamento: </b>{{v.aprazemento | date:'dd/MM/yyyy'}}</p>
                    <p><b>Estabelecimento de Saúde: </b>{{v.estaddesaude}}</p>
                    <p><b>Estratégia: </b>{{v.estrategia}}</p>
                    <p><b>Grupo Atendimento: </b>{{v.grupoatendimento}}</p>
                    <p><b>Laboratório: </b>{{v.laboratorio}}</p>
                    <p><b>Número Lote:</b> {{v.lote}}</p>
                    <p><b>Nome Aplicador:</b> {{v.vacinador}}</p>
                    <p><b>Nº Dose:</b> {{v.dose}} </p>
                  </div>
        
                </mat-expansion-panel>
              </mat-accordion>
        
            </mat-card-content>
          </mat-card> 
    </mat-tab>
  </mat-tab-group>
</div>
